{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block beforehead %}
<style type="text/css">
.blog-theme-area{position:absolute;margin-top:50%;}
.blog-theme button{margin:3px;}
.comments{border:#d9d9d9 1px solid;padding:10px;}
#comment_title{margin-bottom: 5px;}
.comment-time{font-size:10px;color:gray;}
.comment-reply{margin-left:10px;font-size:10px;}
.comment-reply>a{text-decoration:none;}
.username-css{color:hotpink;}
.reply-icon{color:lightseagreen;}

#textArea_comment::-webkit-input-placeholder{
    text-align:center;
    line-height:100px;}    /* 使用webkit内核的浏览器 */
#textArea_comment:-moz-placeholder{
    text-align:center;
    line-height:100px;}                  /* Firefox版本4-18 */
#textArea_comment::-moz-placeholder{
    text-align:center;
    line-height:100px;}                  /* Firefox版本19+ */
#textArea_comment:-ms-input-placeholder{
    text-align:center;
    line-height:100px;}           /* IE浏览器 */
    
.comment-edit{margin-top:5px;}    
.bottom-ph{margin-bottom: 0px;}
.commit-btn{margin-top:5px;}
.bottom-commit{margin-bottom:0px;}
.media-body-my{padding-bottom:0px;}
.form-group{margin-bottom:0px;}
</style>
<script type="text/javascript">
/*博客正文页面，显示博客内容和评论，评论编辑功能
评论编辑后，刷新全文，获取最新评论结构。以降低前端和后端的耦合程度。
*/
$(function(){
    // var comments_first = [ {title:'第一篇技术博客', id:1, created_at:200001,content:'本篇博客评论'},
    //                         {title:'第一篇技术博客', id:2, created_at:200002,content:'本篇博客评论'},
    //                         {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客评论'},
    //                         {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客评论'}];
    var comments_first = [ {comment_self:{id:1, stage:1, name:"从头观", created_at:20001, content: "作者说得好"},
                                comment_children:[{id:11, name:"九天揽月", created_at:200006, reply:null, content:"你就是在瞎扯"},
                                                   {id:12, name:"五洋捉鳖", created_at:200006, reply:"九天揽月", content:"你说得对"}
                                                  ]           
                                },
                                {comment_self:{id:2, stage:2, name:"望其项背", created_at:20001, content: "评论2"}, 
                                comment_children:null},
                                {comment_self:{id:3, stage:3, name:"屈居人下", created_at:20001, content: "评论3"}, 
                                comment_children:null},
                                {comment_self:{id:4, stage:4, name:"阡陌交通", created_at:20001, content: "评论4"}, 
                                comment_children:null}
                            ];



    var comments_panel = new Vue({
        el: "#comments_panel",
        data: {
            test: 'gogogoooooooooooo',
            comments:null//blog篇从后台获取
            // comments:[{title:'第er篇技术博客', id:1, created_at:200001,content:'本篇博客简要'},
            //           {title:'第er篇技术博客', id:2, created_at:200002,content:'本篇博客简要'},
            //           {title:'第er篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},
            //           {title:'第er篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},]
        },
        created:function(){
            //alert("created function.")
        //    $.getJSON(`/api/comment/:${currentPage_flag}`, function(data, status){ 
                //var data_temp = JSON.stringify(data);
                //var data_fin = JSON.parse(data_temp);
                //console.log(data_fin.studies);
                //this.studies = data_fin.studies;//此时的this为$.getJSON(),不是studies_panel对象
                                                  //不会赋值给studies
          //      studies_panel.studies = data.studies;
          //  });
        //   comments_panel.comments = [ {title:'第一篇技术博客', id:1, created_at:200001,content:'本篇博客简要'},
        //                     {title:'第一篇技术博客', id:2, created_at:200002,content:'本篇博客简要'},
        //                     {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},
        //                     {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客简要'}];

        // var comment_simple = [ {comment_self:{id:1, stage:1, name:"从头观", created_at:20001, content: "作者说得好"},
        //                         comment_children:[{id:11, name:"九天揽月", created_at:200006, reply:null, content:"你就是在瞎扯"},
        //                                            {id:12, name:"五洋捉鳖", created_at:200006, reply:"九天揽月", content:"你说得对"}
        //                                           ]           
        //                         },
        //                         {comment_self:{id:2, stage:2, name:"望其项背", created_at:20001, content: "评论2"}, 
        //                         comment_children:null},
        //                         {comment_self:{id:3, stage:3, name:"屈居人下", created_at:20001, content: "评论3"}, 
        //                         comment_children:null},
        //                         {comment_self:{id:4, stage:4, name:"阡陌交通", created_at:20001, content: "评论4"}, 
        //                         comment_children:null}
        //                     ];

        this.comments = comments_first;
            //alert(this.test);
        },
        methods:{
            commentEdit: function(evt){
                const content = $("#textArea_comment");
                //const title = $("#comment_title");
                //var titlestr = title.val().trim();
                var comstr = content.val().trim();
                var blogId = location.pathname.split("/")[2];
                var comment = $(".comment-edit");
                var replyTo = null;
                var mainComment = true;
                var stage = null;
                //var rep = $(evt.target);
                if(!comment.hasClass("main-comment")){
                    replyTo = comment.parent().find(":first-child").attr("data-userid");
                    stage = comment.parentsUntil("div.comments", "div.main-stage").attr("data-my-stage");
                    mainComment = false;
                }
                //var replyToName = replyTo.html();
                userid = "888";
                var commentstr = {stage: stage, userid: userid, content: comstr, blogId: blogId, replyTo:replyTo, mainComment:mainComment};
                alert(JSON.stringify(commentstr));
                //alert("blogid"+" "+blogId);
                $.post("/comment/add", commentstr, function(data, status){
                    //comments_panel.comments = ;//直接修改comments即可，无需向后台申请，后台评论的结构需要修改

                });

                // $.getJSON(`/api/comment/:${currentPage_flag}`, function(data, status){ 
                //     var data_temp = JSON.stringify(data);
                //     var data_fin = JSON.parse(data_temp);
                //     console.log(data_fin.studies);
                //     this.studies = data_fin.studies;//此时的this为$.getJSON(),不是studies_panel对象
                //                                     不会赋值给studies
                //     studies_panel.studies = data.studies;
                // }); 
            },
            insertReply: function(evt){
                var rep = $(evt.target);
                //alert(rep.prop("outerHTML"));
                const replyP = rep.parentsUntil("div.media", "p");
                const commentFrame = $(".comment-edit").removeClass("main-comment");
                replyP.after(commentFrame);         
            }
        }
    });
 }); 
</script>
{% endblock %}
{% block contentleft %}
    <article>
    <h3 class="page-header">{{blog.title}}</h3>
    <p>发表于{{blog.created_at}}</p>
    <p>{{blog.content}}</p>
    <hr>
    </article>
    <div class="user_comment" id="comments_panel" v-cloak>
        <h5>评论</h5>
        {% raw %}
            <div v-for="comment in comments" class="media comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" data-src="holder.js/50x50" alt="用户头像"> 
                    </a>
                </div>
                <div class="media-body main-stage" v-bind:data-my-stage="comment.comment_self.stage">
                   <!-- <h6 class="media-heading">{{comment.title}}</h6> -->
                   <p class="username-css" v-bind:data-userid="comment.comment_self.id">{{comment.comment_self.name}}</p>
                   <p>{{comment.comment_self.content}}</p>
                   <p><span class="comment-time">{{comment.comment_self.created_at}}</span><span class="comment-reply"><a href="#" @click.prevent="insertReply($event)">回复</a></span></p>
                   <!-- <p class="bottom-ph"><a href="#">回复</a></p> -->
                   
                    <div v-if="comment.comment_children">
                        <div v-for="reply in comment.comment_children" class="media reply">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" data-src="holder.js/30x30" alt="用户头像"></a>
                                </div>
                                <div class="media-body sub-comment">
                                    <p class="username-css" v-bind:data-userid="reply.id">{{reply.name}}</p>
                                    <p><span v-if="reply.reply" class="reply-icon">@{{reply.reply}}: </span><span>{{reply.content}}</span></p>
                                    <p><span class="comment-time">{{reply.created_at}}</span><span class="comment-reply"><a href="#" @click.prevent="insertReply($event)">回复</a></span></p>
                                </div>
                        </div>
                    </div>    
                </div>
            </div>
        {% endraw %}
        
        <div class="comment-edit main-comment">
            <form action="/api/add_comment" method="post">
                <div class="form-group bottom-commit">
                    <label for="#comment_title">编辑评论</label>
                    <!-- <input class="form-control" id="comment_title" placeholder="标题"> -->
                    <textarea class="form-control" id="textArea_comment" rows="5" placeholder="不吐不快"></textarea>
                </div>
                <button type="button" class="btn btn-primary commit-btn" v-on:click="commentEdit($event)">提交</button>
            </form>
        </div>
    </div>   
{% endblock %}
