{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block beforehead %}
<style type="text/css">
.blog-theme-area{position:absolute;margin-top:50%;}
.blog-theme button{margin:3px;}
.commits{border:#d9d9d9 1px solid;padding:10px;}

#textArea_commit::-webkit-input-placeholder{
    text-align:center;
    line-height:100px;}    /* 使用webkit内核的浏览器 */
#textArea_commit:-moz-placeholder{
    text-align:center;
    line-height:100px;}                  /* Firefox版本4-18 */
#textArea_commit::-moz-placeholder{
    text-align:center;
    line-height:100px;}                  /* Firefox版本19+ */
#textArea_commit:-ms-input-placeholder{
    text-align:center;
    line-height:100px;}           /* IE浏览器 */
    
.commit-edit{margin-top:10px;}    
</style>
<script type="text/javascript">
$(function(){
    var commits_panel = new Vue({
        el: "#commits_panel",
        data: {
            test: 'gogogoooooooooooo',
            //commits:[]//study篇从后台获取
            commits:[{title:'第一篇技术博客', id:1, created_at:200001,content:'本篇博客简要'},
                      {title:'第一篇技术博客', id:2, created_at:200002,content:'本篇博客简要'},
                      {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},
                      {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},]
        },
        created:function(){
        
        //    $.getJSON(`/api/commit/:${currentPage_flag}`, function(data, status){ 
                //var data_temp = JSON.stringify(data);
                //var data_fin = JSON.parse(data_temp);
                //console.log(data_fin.studies);
                //this.studies = data_fin.studies;//此时的this为$.getJSON(),不是studies_panel对象
                                                  //不会赋值给studies
          //      studies_panel.studies = data.studies;
          //  });    
        }
    });
 }); 
</script>
{% endblock %}
{% block contentleft %}
    <article>
    <h3 class="page-header">{{study.name}}</h3>
    <p>发表于{{study.created_at}}</p>
    <p>{{study.body}}</p>
    <hr>
    </article>
    <div class="user_commit">
        <h5>评论</h5>
        
        {% raw %}
        <div id="commits_panel">
            <div v-for="commit in commits" class="media commits">
                <div class="media-left">
                <a href="#">
                    <img class="media-object" data-src="holder.js/50x50" alt="用户头像"> 
                </a>
                </div>
                <div class="media-body">
                   <h6 class="media-heading">{{commit.title}}</h6>
                   <p>{{commit.created_at}}</p>
                   <p>{{commit.content}}</p>
                </div>
            </div>
        </div>
        {% endraw %}
        
        <div class="commit-edit">
            <form action="/api/add_commit" method="post">
                <div class="form-group">
                    <label for="#">编辑评论</label>
                    <textarea class="form-control" id="textArea_commit" rows="5" placeholder="字数有限制"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">提交</button>
            </form>
        </div>
    </div>   
{% endblock %}
