{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block beforehead %}
<script type="text/javascript">
$(function(){
    var currentPage = 1;
    var blogRow = 10;
    var firstClass =2;  
    var offsetData = {blogRow:blogRow, currentPage:currentPage};

    var blogs_panel = new Vue({
        el: "#blogs_panel",
        data: {
            blogs:[]//blog篇从后台获取
            //blogs:[{name:'第一篇技术博客', id:1, created_at:200001,summary:'本篇博客简要'},
            //          {name:'第一篇技术博客', id:2, created_at:200002,summary:'本篇博客简要'},
            //          {name:'第一篇技术博客', id:3, created_at:200003,summary:'本篇博客简要'},
            //          {name:'第一篇技术博客', id:3, created_at:200003,summary:'本篇博客简要'},]
        },
        created:function(){
            $.post(`/api/blog/page/${currentPage}`,{firstClass:firstClass, offsetData:offsetData}, function(data, status){ 
                //this.blogs = data_fin.blogs;//此时的this为$.getJSON(),不是blogs_panel对象
                                                  //不会赋值给blogs
                blogs_panel.blogs = data.blogs;
            });    
        }
    });
            
    $.post("/api/blog/blogs_count", {firstClass:firstClass}, function(data, status){ //获取study类文章总6
        if(typeof data.blogsCount !=='number')data.blogsCount = parseInt(data.blogsCount);
        totalPages = Math.ceil(data.blogsCount/blogRow)||1;
        $('#jq-pagi').jqPaginator({//分页设置
            totalPages: totalPages,
            visiblePages: 8,
            currentPage: 1,
            first: '<li class="first"><a href="javascript:void(0);">第一页</a></li>',
            prev: '<li class="prev"><a href="javascript:void(0);">前一页</a></li>',
            next: '<li class="next"><a href="javascript:void(0);">下一页</a></li>',
            last: '<li class="last"><a href="javascript:void(0);">末尾页</a></li>',
            page: '<li class="page"><a href="javascript:void(0);">{% raw %}{{page}}{% endraw %}</a></li>',//防止后端jinja2解析导致填为空

            onPageChange: function (num, type) {
                // $('.text-test').html('当前第' + num + '页');
                offsetData.currentPage = num;
                currentPage = num;
                if(type=="change"){
                        $.post(`/api/blog/page/${currentPage}`, {firstClass:firstClass, offsetData:offsetData}, function(data, status){   
                            //this.currentPage = num;
                            blogs_panel.blogs = data.blogs;
                            
                        }); 
                }
            }  
        }); 
    }); 
});	
</script>
{% endblock %} 
	
{% block contentleft %}
<!--
{% for blog in blogs %}
<article>
<h3 class="page-header"><a href="/blog/{{blog.id}}">{{blog.name}}</a></h3>
<p>发表于{{blog.created_at}}</p>
<p>{{blog.summary}}</p>
<p><a href="/blog/{{blog.id}}">阅读全文</a></p>
<hr>
</article>
{% endfor %}
-->
    {% raw %}<!-- 避免VUE与后端模板jinja2的冲突-->
    <div id="blogs_panel" v-cloak>
        <article v-for="blog in blogs">
            <h4 class="page-header"><a v-bind:href="'/blog/'+blog.id">{{blog.title}}</a></h4> 
            <p>发表于{{blog.created_at}}</p>
            <p>{{blog.summary}}</p>
            <p><a v-bind:href="'/blog/'+blog.id">阅读全文</a></p>
            <hr>
        </article>
    </div>
    {% endraw %}
    <div class="pagination" id="jq-pagi"></div>
{% endblock %}