<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="blog programming interest">
	    <title>{% block title %}<!--title-->{% endblock %}</title>
        <!--
	    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
	    <link rel="stylesheet" href="/static/css/webapp.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
	    <script src="https://cdn.bootcss.com/holder/2.9.6/holder.min.js"></script>
	    -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/font-awesome.min.css">  
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
	    <link rel="stylesheet" href="/static/css/webapp.css">
		<script src="/static/js/jquery.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/vue.js"></script>
	    <script src="/static/js/holder.min.js"></script>
	    <script src="/static/js/placeholder.min.js"></script>
        <script src="/static/js/jq-paginator.js"></script>
        <!-- <script type="text/javascript" src="/static/js/sha1.min.js"></script> -->
        <script type="text/javascript" src="/static/js/crypto-js.js"></script>
        <script type="text/javascript" src="/static/js/ldzy-util.js"></script>
        <style type="text/css">
            body{background: #efefef /*url(/static/img/backgroud.gif)*/}
            [v-cloak]{display:none;}
            .web-header{height:80px;}
            .navbar-brand img{height:300%;}
            .blog-items li{margin:20px; font-size:16px}
            .blog-class:hover{color:hsl(120, 67%, 50%)!important;font-size:30px;}

            .main-left{padding-bottom:5px;border:solid #dfdfdf 1px;background:#fff}
            .main-right{border:solid #dfdfdf 1px;background:#fff}

            .auth-item{
                margin-top:30px;
                margin-right:10px;
                /* border:none; */
                font-size:16px;
                /* background:#fff;*/} 
            .login-panel{padding:5px;}

            .login-panel li{margin-bottom:5px;}
            .login-panel li>label{margin-bottom:0;}
            /* #login-line{text-align:center;} */
            /* #login-button{margin:0 auto;} */

            .col-md-3{position:relative;height:500px;}
            .blog-theme-area{position:absolute;margin-top:50%;margin-right:10px;}
            .blog-theme button{margin:3px;}
            /* .footer{margin-top:50px;} */
        </style>
        <script type="text/javascript">
            /*
            function Encrypt(word, key, iv){
                        srcs = CryptoJS.enc.Utf8.parse(word);
                        var encrypted = CryptoJS.AES.encrypt(srcs, key, { iv: iv,mode:CryptoJS.mode.CBC,padding: CryptoJS.pad.Pkcs7});
                        return encrypted.ciphertext.toString().toUpperCase();
            }*/

            function pwHash(passwd){
                return CryptoJS.SHA1(passwd).toString(CryptoJS.enc.Hex);
                //return passwd;
            }
            
            function emailValidate(email){
                var EmailPattern = /^[a-zA-Z0-9\.\-\_]+\@[a-zA-Z0-9\-\_]+(\.[a-zA-Z0-9\-\_]+){1,4}$/;
                //return EmailPattern.test(email.trim().toLowerCase());
                return EmailPattern.test(email);
            }

            function loginHandler(){
                //alert(document.activeElement.id);
                //$(".login-panel").dropdown("toggle"); 
                var name = $("#userName").val().trim();//邮箱或字符串
                var passwd = $("#passWord").val().trim();//
                
                if($("#test-li")){
                    $("#test-li").remove();
                }
                if(name.length<=50 && passwd.length<=50){
                    var user = {name:null, email:null, passwd:null};
                    if(emailValidate(name)){
                        user.email = name.toLowerCase(); 
                    }
                    else{
                        user.name = name;
                    }
                    user.passwd = pwHash(passwd);
                    //alert('userinfo: '+JSON.stringify(user));
                    $.post('/api/authenticate/login', user, function(data){
                        //alert('显示成功数据: '+JSON.stringify(data));
                        if(data.result=='Success'){location.reload();}
                        else if(data.result=='User Not Exist'){
                            $("#login-line").append("<li class='text-danger' id='test-li'>用户不存在，请注册</li>");
                           // $(".login-panel").dropdown("toggle"); 
                        }
                        else if(data.result=='Password Error'){
                            $("#login-line").append("<li class='text-danger' id='test-li'>密码错误</li>");
                            //$(".login-panel").dropdown("toggle"); 
                        }
                    
                    });     
                }else{ //有误提示
                    $("#login-line").append("<li class='text-danger' id='test-li'>输入用户名或密码有误</li>");
                    //$(".login-panel").dropdown("toggle"); 
                }       
            }
            
            function register(){
                var t = location.assign("/authenticate/register");
            }

            function userManage(){
                location.assign("/user/profile");
            }
           
            var user = null;
            $(function(){
                user = ldzyUtil.userCheck();
                var vm = new Vue({
                    el:"#userControl",
                    data:{
                        user: user&&user.username?user:null,
                    }    
                });
                // $("[data-toggle='popover']").popover();
                // $.getJSON('/api/blog/themes', function(data, status){
                //     var buttonsHtml = ""; 
                //     for(var i=0;i<data.themes.length;i++){
                //         buttonsHtml += "<button type=\"button\" class=\"btn btn-primary btn-blog-theme\" data-id=\""+data.themes[i].id+"\">"+data.themes[i].str+"</button>";
                //     }
                //     $(".blog-theme").html(buttonsHtml);
                //     $(".btn-blog-theme").click(function(event){
                //         var themeid = $(event.target).attr("data-id");
                //         var themestr = $(event.target).html();
                //         var editWindow = window.open(`/blog/blogs/theme/${themeid}?keyword=${themestr}`);
                //     });
                // });
                
                $(".login-panel").click(function(e){
                        e.stopPropagation();
                });
            });

        </script>
        
        {% block beforehead %}<!-- before head  -->{% endblock %}
	</head>
	<body>
		<div class="container">
            <div class="row">
	            <nav class="web-header navbar navbar-default">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-index">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/">
                            <img alt="Brand" src="/static/images/yuri_re_PR.png"> 
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="navbar-index">
                        <ul class="nav navbar-nav blog-items">
                            <li><a class="blog-class" href="/">一本正经</a></li>
                            <li><a class="blog-class" href="/thought">思想碰撞</a></li>
                            <li><a class="blog-class" href="/blog/fun">杂趣</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" id="userControl">
                            <!--
                            {% if __user__ %}
                                <li class="log-manage"><button class="auth-item" onclick="#">{{ __user__.name }}</button></li>
                                <li class="log-manage"><button class="auth-item" onclick="/authenticate/logout">登出</button></li>
                            {% else %}
                                <li class="log-manage">
                                    <div class="dropdown">
                                        <button id="login-btn" class="dropdown-toggle auth-item" data-toggle="dropdown">登录</button>
                                        <ul class="dropdown-menu login-panel">
                                            <li>用户名<input type="text" name="username" id="userName"/></li>    
                                            <li>密码<input type="password" name="password" id="passWord"/></li>    
                                            <li id="login-line"><button type="button" id="login-button" onclick="loginHandler()">登录</button></li>    
                                        </ul>
                                    </div>    
                                </li>
                                <li class="log-manage"><button class="auth-item" onclick="register()">注册</button></li>
                            {% endif %}
                            -->
                            
                            <template v-if="user">
                                <li class="log-manage">
                                    <button class="btn btn-default auth-item" style="color: rgb(0, 60, 255)" onclick="userManage()">
                                        <span class="glyphicon glyphicon-user"></span> 
                                        {% raw %}{{ decodeURIComponent(user.username) }}{% endraw %}
                                    </button>
                                </li>
                                <li class="log-manage">
                                    <button class="btn btn-default auth-item" style="color: rgb(226, 96, 135)" onclick="location='/authenticate/logout'">
                                        <span class="glyphicon glyphicon-log-out"></span> 登出</button>
                                </li>
                            </template>
                            <template v-else>
                                <li class="log-manage">
                                    <!-- <div>
                                        <button class="btn btn-default auth-item" style="color: rgb(73, 122, 10)" data-toggle="popover"
                                        title="Popover title"  data-container="body" data-placement="bottom" 
                                        data-content="Popover内容">
                                            <span class="glyphicon glyphicon-log-in"></span> 登录
                                            <span class="caret"></span>
                                        </button>
                                    </div> -->
                                    <div class="dropdown">
                                        <button id="login-btn" type="button" class="dropdown-toggle btn btn-default auth-item" style="color: rgb(73, 122, 10)" data-toggle="dropdown">
                                            <span class="glyphicon glyphicon-log-in"></span> 登录
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu login-panel">
                                            <!-- <li class="form-group">
                                                <label for="userName">用户名</label>
                                                <input type="text" class="form-control" name="username" id="userName"/>
                                            </li>    
                                            <li class="form-group">
                                                <label for="passWord">密码</label>
                                                <input type="password" class="form-control" name="password" id="passWord"/></li>    
                                            <li id="login-line">
                                                <button class="btn btn-default" id="login-button" onclick="loginHandler()">登录</button>
                                            </li>   -->
                                            <li>
                                                <label for="userName">用户名</label>
                                                <input type="text" class="login-li" name="username" id="userName"/>
                                            </li>    
                                            <li>
                                                <label for="passWord">密码</label>
                                                <input type="password" class="login-li" name="password" id="passWord"/></li>    
                                            <li id="login-line">
                                                <button id="login-button" onclick="loginHandler()">登录</button>
                                            </li>  
                                        </ul>
                                    </div>    
                                </li>
                                <li class="log-manage">
                                    <button class="btn btn-default auth-item" style="color: rgb(247, 10, 247)" onclick="register()">
                                        <span class="glyphicon glyphicon-heart-empty"></span> 注册
                                    </button></li>
                            </template>
                    
                        </ul>
                    </div>
                </nav>    
                <div class="col-md-9 main-left">
                    {% block contentleft %}<!--content-->{% endblock %}
                </div>
                <div class="col-md-3 main-right">
                    {% block contentright %}{% endblock %}
                </div>
            </div>
		    <footer class="footer" data-spy="affix" data-offset-bottom="25">
                <p> Copyright &copy; 2018. <span>Powered by node.js · ldstargazer@gmail.com</span></p>
		    </footer>
        </div>
    
	</body>
</html>
