{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block beforehead %}
<style type="text/css">
.blog-theme-area{position:absolute;margin-top:50%;}
.blog-theme button{margin:3px;}
.comments{border:#d9d9d9 1px solid;padding:10px;}
#comment_title{margin-bottom: 5px;}
.comment-time{font-size:10px;color:gray;}
.comment-reply{margin-left:10px;font-size:10px;}
.comment-reply>a{text-decoration:none;}
.username-css{color:hotpink;}

#textArea_comment::-webkit-input-placeholder{
    text-align:center;
    line-height:100px;}    /* 使用webkit内核的浏览器 */
#textArea_comment:-moz-placeholder{
    text-align:center;
    line-height:100px;}                  /* Firefox版本4-18 */
#textArea_comment::-moz-placeholder{
    text-align:center;
    line-height:100px;}                  /* Firefox版本19+ */
#textArea_comment:-ms-input-placeholder{
    text-align:center;
    line-height:100px;}           /* IE浏览器 */
    
.comment-edit{margin-top:10px;}    
.bottom-ph{margin-bottom: 0px;}
</style>
<script type="text/javascript">
/*博客正文页面，显示博客内容和评论，评论编辑功能
评论编辑后，刷新全文，获取最新评论结构。以降低前端和后端的耦合程度。
*/
$(function(){
    // var comments_first = [ {title:'第一篇技术博客', id:1, created_at:200001,content:'本篇博客评论'},
    //                         {title:'第一篇技术博客', id:2, created_at:200002,content:'本篇博客评论'},
    //                         {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客评论'},
    //                         {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客评论'}];
    var comments_first = [ {comment_self:{id:1, created_at:20001, content: "作者说得好"},
                                comment_children:[{id:11, created_at:200001, replay:null, content:"你就是在瞎扯"},
                                                   {id:12, created_at:200001, replay:11, content:"你说得对"}
                                                  ]           
                                },
                                {comment_self:{id:2, created_at:20001, content: "评论2"}, 
                                comment_children:null},
                                {comment_self:{id:3, created_at:20001, content: "评论3"}, 
                                comment_children:null},
                                {comment_self:{id:4, created_at:20001, content: "评论4"}, 
                                comment_children:null}
                            ];


    var comments_panel = new Vue({
        el: "#comments_panel",
        data: {
            test: 'gogogoooooooooooo',
            comments:null//study篇从后台获取
            // comments:[{title:'第er篇技术博客', id:1, created_at:200001,content:'本篇博客简要'},
            //           {title:'第er篇技术博客', id:2, created_at:200002,content:'本篇博客简要'},
            //           {title:'第er篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},
            //           {title:'第er篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},]
        },
        created:function(){
            //alert("created function.")
        //    $.getJSON(`/api/comment/:${currentPage_flag}`, function(data, status){ 
                //var data_temp = JSON.stringify(data);
                //var data_fin = JSON.parse(data_temp);
                //console.log(data_fin.studies);
                //this.studies = data_fin.studies;//此时的this为$.getJSON(),不是studies_panel对象
                                                  //不会赋值给studies
          //      studies_panel.studies = data.studies;
          //  });
        //   comments_panel.comments = [ {title:'第一篇技术博客', id:1, created_at:200001,content:'本篇博客简要'},
        //                     {title:'第一篇技术博客', id:2, created_at:200002,content:'本篇博客简要'},
        //                     {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客简要'},
        //                     {title:'第一篇技术博客', id:3, created_at:200003,content:'本篇博客简要'}];

        var comment_simple = [ {comment_self:{id:1, created_at:20001, content: "作者说得好"},
                                comment_children:[{id:11, created_at:200006, replay:null, content:"你就是在瞎扯"},
                                                   {id:12, created_at:200006, replay:11, content:"你说得对"}
                                                  ]           
                                },
                                {comment_self:{id:2, created_at:20001, content: "评论2"}, 
                                comment_children:null},
                                {comment_self:{id:3, created_at:20001, content: "评论3"}, 
                                comment_children:null},
                                {comment_self:{id:4, created_at:20001, content: "评论4"}, 
                                comment_children:null}
                            ];

        this.comments = comments_first;
            //alert(this.test);
        },
        methods:{
            commentEdit: function(){
                const content = $("#textArea_comment");
                const title = $("#comment_title")
                var comstr = content.val().trim();
                var titlestr = title.val().trim();
                var blogId = location.pathname.split("/")[2];
                var commentstr = {userid: userid, title: titlestr, content: comstr, blogId: blogId};
                

                //alert("blogid"+" "+blogId);
                $.post("/comment/add", commentstr, function(data, status){
                    //comments_panel.comments = ;//直接修改comments即可，无需向后台申请，后台评论的结构需要修改

                });

                // $.getJSON(`/api/comment/:${currentPage_flag}`, function(data, status){ 
                //     var data_temp = JSON.stringify(data);
                //     var data_fin = JSON.parse(data_temp);
                //     console.log(data_fin.studies);
                //     this.studies = data_fin.studies;//此时的this为$.getJSON(),不是studies_panel对象
                //                                     不会赋值给studies
                //     studies_panel.studies = data.studies;
                // }); 
                
                
            }

        }
    });
 }); 
</script>
{% endblock %}
{% block contentleft %}
    <article>
    <h3 class="page-header">{{study.name}}</h3>
    <p>发表于{{study.created_at}}</p>
    <p>{{study.body}}</p>
    <hr>
    </article>
    <div class="user_comment" id="comments_panel">
        <h5>评论</h5>
        {% raw %}
            <div v-for="comment in comments" class="media comments">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" data-src="holder.js/50x50" alt="用户头像"> 
                    </a>
                </div>
                <div class="media-body">
                   <!-- <h6 class="media-heading">{{comment.title}}</h6> -->
                   <p class="username-css">{{comment.comment_self.id}}</p>
                   <p>{{comment.comment_self.content}}</p>
                   <p><span class="comment-time">{{comment.comment_self.created_at}}</span><span class="comment-reply"><a href="#">回复</a></span></p>
                   <!-- <p class="bottom-ph"><a href="#">回复</a></p> -->
                   
                    <div v-if="comment.comment_children">
                        <div v-for="replay in comment.comment_children" class="media">
                                <div class="media-left">
                                    <a href="#"><img class="media-object" data-src="holder.js/30x30" alt="用户头像"></a>
                                </div>
                                <div class="media-body">
                                    <p class="username-css">{{replay.id}}</p>
                                    <p>{{replay.content}}</p>
                                    <p><span class="comment-time">{{replay.created_at}}</span><span class="comment-reply"><a href="#">回复</a></span></p>

                                </div>
                        </div>
                       
                    </div>    
                </div>
            </div>
        {% endraw %}
        
        <div class="comment-edit">
            <form action="/api/add_comment" method="post">
                <div class="form-group">
                    <label for="#comment_title">编辑评论</label>
                    <input class="form-control" id="comment_title" placeholder="标题">
                    <textarea class="form-control" id="textArea_comment" rows="5" placeholder="不吐不快"></textarea>
                </div>
                <button type="button" class="btn btn-primary" v-on:click="commentEdit" id="mycomment">提交</button>
            </form>
        </div>
    </div>   
{% endblock %}
