<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="description" content="blog programming interest">
	    <title>{% block title %}<!--title-->{% endblock %}</title>
        <!--
	    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css"> 
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
	    <link rel="stylesheet" href="/static/css/webapp.css">
		<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
	    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/vue/dist/vue.js"></script>
	    <script src="https://cdn.bootcss.com/holder/2.9.6/holder.min.js"></script>
	    -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"> 
        <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
	    <link rel="stylesheet" href="/static/css/webapp.css">
		<script src="/static/js/jquery.min.js"></script>
	    <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/vue.js"></script>
	    <script src="/static/js/holder.min.js"></script>
        <script src="/static/js/jq-paginator.js"></script>
        <!-- <script type="text/javascript" src="/static/js/sha1.min.js"></script> -->
        <script type="text/javascript" src="/static/js/crypto-js.js"></script>
        <script type="text/javascript" src="/static/js/ldzy-util.js"></script>
	</head>
	<body>

<div class="container" style="padding: 200px 150px 110px;" >
        <button type="button" class="btn btn-default" title="Popover title"
                data-container="body" data-toggle="popover" data-placement="left"
                data-content="左侧的 Popover 中的一些内容">
            左侧的 Popover
        </button>
        <button type="button" class="btn btn-primary" title="Popover title"
                data-container="body" data-toggle="popover" data-placement="top"
                data-content="顶部的 Popover 中的一些内容">
            顶部的 Popover
        </button>
        <button type="button" class="btn btn-success" title="Popover title"
                data-container="body" data-toggle="popover" data-placement="bottom"
                data-content="底部的 Popover 中的一些内容">
            底部的 Popover
        </button>
        <button type="button" class="btn btn-warning" title="Popover title"
                data-container="body" data-toggle="popover" data-placement="right"
                data-content="右侧的 Popover 中的一些内容">
            右侧的 Popover
        </button>
        <button class="btn btn-default auth-item" style="color: rgb(73, 122, 10)" data-toggle="popover"
                                    title="Popover title"  data-container="body" data-placement="bottom" 
                                    data-content="底部的 Popover 中的一些内容">
                                        <span class="glyphicon glyphicon-log-in"></span> 登录
                                        <span class="caret"></span>
                                    </button>
    </div>
     
    <script>
    $(function (){
        $("[data-toggle='popover']").popover();
    });
    </script>
    </div>
</body>
</html>