{% extends "side.html" %}
{% block title %}{{title}}{% endblock %}
{% block beforehead %}
<!--
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js">
<link rel="stylesheet" href="/static/js/jquery.validate.min.js">-->
<style type="text/css">
label{/*font-family:"Times New Roman", Times, serif;*/
    font-weight:normal;
}

.right-panel{margin-left:10px;background:#f8f8f8;padding-bottom: 10px;}
.dl-horizontal dt{width:120px;}
#img-file{opacity: 0;}
</style>
<script type="text/javascript">
    function saveInfo(){
        $("#email").val().trim();
    }

    function changePic() {
        var reads= new FileReader();
        f=document.getElementById('img-file').files[0];
        reads.readAsDataURL(f);
        reads.onload=function (e) {
            document.getElementById('user-portrait').src=this.result;
        };
    }

 $(function(){
    //const imgFile = document.querySelector("#img-file")
    // imgFile.addEventListener("change", function(){
    //     var file = this.files[0];
    //     var reader = new FileReader();
    //     reader.readAsDataURL(file);
    //     reader.onload = function(e) {
    //                     // 图片base64化
    //                     var newUrl = this.result;
    //                     document.querySelector("#user-portrait").src = newUrl;
    //                     //preview.style.backgroundImage = 'url(' + newUrl + ')';
    //                 };
    // });
    const user = {
        name:"user1", 
        email:"example@personal.com",
        portrait:"",
        selfInfo: "无知亦无畏"
    };
    //var userinfoTemp = JSON.parse(JSON.stringify(user));
    //console.log(JSON.stringify(userinfoTemp));

    const vm = new Vue({
        el: "#user-info",
        data: {
            // name: userinfoTemp.name,
            // email: userinfoTemp.email,
            // portrait: userinfoTemp.portrait,
            // selfInfo: userinfoTemp.selfInfo
            name: "user",
            email: "email",
            admin:false,
            portrait: null,
            selfInfo: null
        },
        created: function(){
            //获取属性$.getJson();
            userCookieInfo = ldzyUtil.userCheck();
            $.post("/user/api/getUser", userCookieInfo.userid, function(data, status){
                vm.name = data.name;
                vm.email =  data.email;
                vm.admin = data.admin;
                vm.portrait = data.portrait;
                vm.selfInfo = data.selfInfo;
                //alert(JSON.stringify(data));
            });
        },
        methods:{
            saveInfo: function(){
                var userInfo = {name: vm.name, email: vm.email, portrait: vm.portrait, selfInfo: vm.selfInfo};
                $.post("/user/manage/info_save", userInfo, function(data, status){
                    console.log(JSON.stringify(data)+" "+status);
                    //alert(JSON.stringify(data));
                    vm.name = data.name;
                    vm.email =  data.email;
                    vm.portrait = data.portrait;
                    vm.selfInfo = data.selfInfo;
                });
            }

        }
    });


 });
</script>
{% endblock %} 

{% block content %}
    {% raw %}<!-- 避免VUE与后端模板jinja2的冲突-->
    <div class="col-md-7 right-panel">  
        <div class="uerinfo-data-panel" id="user-info" v-cloak>
            <h3 class="page-header">个人信息</h3>
            <dl class="dl-horizontal">
                <dt>用户名</dt>
                <dd>{{ name }}</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>电子邮箱</dt>
                <dd><input type="text" name="email" id="email" v-model="email"></dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>头像图片</dt>
                <dd>
                    <label for="img-file" class="btn btn-primary">上传图片</label>
                    <input type="file" id="img-file" onchange="changePic(this)">
                </dd>
                <dd><span class="help-block">大小不超过150px*150px</span></dd>
                <!-- <dd>{{ portrait }}<img class="media-object" data-src="holder.js/150x150" alt="用户头像" id="user-portrait1"></dd> -->
                <dd><img src="/static/images/yuri_re.png" id="user-portrait" width="150px"></dd>
                <dd><img v-bind:src="portrait" id="user-portrait" width="150px"></dd>
                <dd>预览</dd>
            </dl>
            <dl class="dl-horizontal">
                <dt>简述</dt>
                <dd><textarea id="selfInfo" maxlength="200" class="web-textarea" cols="50" rows="4">{{ selfInfo }}</textarea></dd>
            </dl>                
            <button class="btn btn-success" type="button" v-on:click="saveInfo">更新信息</button> 
        </div>     
    </div>
    {% endraw %}
{% endblock %}